.links {
        padding: 0;
      }
      .links li {
        list-style-type: square;
        display: inline;
        margin-right: 1rem;
      }
      .links li a:link {
        text-decoration: none;
        color: blue;
      }
      .links li a:visited {
        text-decoration: none;
        color: blue;
      }

      .links li a:hover {
        text-decoration: underline;
        color: blue;
      }
