#Details{ 
  background-color: white;
  margin-left: 400px;
  margin-right: 400px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 10.75em;
  padding-right: 10.75em;
  border: 2px groove ;
  }
